.home {
    /* border: 2px solid blue; */
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}

.home .rockets-banner {
    /* margin: 1rem 1rem; */
    height: 120%;
    width: 100%;
    display: flex;
    align-items: end;
    color: white;
    padding-left: 4rem;
    padding-bottom: 8rem;
    border: 1px solid black;

}

.home .rockets-banner .details {
    /* border: 2px solid red; */
    height: 200px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home .rockets-banner .details h1 {
    font-family: 'D-DIN-Bold', Arial, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 0 0 2px #555;
}

.home .rockets-banner .details button {
    height: 3.5rem;
    width: 9.4rem;
    border: 2px solid #fff;
    padding: 0 15px;
    margin: 30px 0 0;
    background-color: transparent;
    color: #fff;
    text-shadow: 0 0 2px #555;
    font-family: 'D-DIN-Bold', Arial, Verdana, sans-serif;
    font-size: 1.4rem;
    cursor: pointer;

}