.rocketsDetails{
     height: 180%;
     width: 100%;
     background-color: black;
}
.rocketsDetails .carousel-item-padding-40-px {
  height: 80vh;
  width: 95%;
  padding-left: 3rem;
}
.rocketsDetails .carousel-item-padding-40-px img{
    height: 100%;
    width: 100%;
}
.rocketsDetails button {
    margin:1rem 3rem;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.rocketsDetails .modal-footer{
    height: 50%;
    color: white;
}
.rocketsDetails .modal-footer .row{
    display: flex;
    height: 70%;
    flex-wrap: wrap;
    padding-left: 3rem;
}
.rocketsDetails .modal-footer .row .col-sm-4{
    width: 30%;
    margin: 1rem;
    padding-left: 1;  
}
.rocketsDetails .modal-footer .row .col-sm-4 h4{
    font-size: 2rem;
    font-family: 'D-DIN-Bold', Arial, Verdana, sans-serif;
    text-shadow: 0 0 2px #555;
}
.rocketsDetails .modal-footer .row .col-sm-4 p{
    color: gray;
    padding-top: 1rem;
    font-family: 'D-DIN-Bold', Arial, Verdana, sans-serif;
}
.rocketsDetails .modal-footer h3{
    font-size: 1.3rem;
    padding-left: 3rem;
    padding-top: 1rem;
   width: 90%;
   font-weight: 100;
}
.rocketsDetails .modal-footer .btn{
    position: absolute;
    right: 1rem;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border: 1.5px solid white;
    
}
@media only screen and (min-width:950px) and (max-width:1325px){

    .rocketsDetails .modal-footer .btn{
        font-size: 1.2rem;
        padding: .5rem 1rem;
    }
    .rocketsDetails .modal-footer h3{
        font-size: 1.3rem;
        padding-left: 2rem;
        padding-top: .5rem;
       width: 90%;
       font-weight: 100;
    }
    .rocketsDetails .modal-footer .row .col-sm-4 h4{
        font-size: 1.5rem;  
    }
    .rocketsDetails .modal-footer .row .col-sm-4{
        width: 25%;
        margin: 1rem;
        padding-left: 1;  
    }
}
@media only screen and (min-width:768px) and (max-width:950px){
   
    .rocketsDetails .modal-footer .btn{
        font-size: 1.2rem;
        padding: .5rem 1rem;
    }
    .rocketsDetails .modal-footer h3{
        font-size: 1.2rem;
        padding-left: 2rem;
        padding-top: .5rem;
       width: 90%;
       font-weight: 100;  
    }
    .rocketsDetails .modal-footer .row .col-sm-4 h4{
        font-size: 1.4rem;   
    }
    .rocketsDetails .modal-footer .row .col-sm-4{
        width: 25%;
        margin: 1rem;
        padding-left: 1;  
    }
}
@media only screen and (min-width:560px) and (max-width:768px){
   
    .rocketsDetails .modal-footer .btn{
        font-size: 1.2rem;
        padding: .5rem 1rem;
    }
    .rocketsDetails .modal-footer h3{
        font-size: 1.1rem;
        padding-left: 2rem;
        padding-top: .5rem;
       width: 100%;
       font-weight: 100;
    }
    .rocketsDetails .modal-footer .row .col-sm-4 h4{
        font-size: 1.3rem;
    }
    .rocketsDetails .modal-footer .row .col-sm-4{
        /* border: 2px solid green; */
        width: 25%;
        margin: 1rem;
        padding-left: 1;  
    }
    .rocketsDetails .modal-footer .row .col-sm-4 p{
        color: gray;
        padding-top: .6rem;
        font-family: 'D-DIN-Bold', Arial, Verdana, sans-serif;
    }
}
@media only screen and (min-width:319px) and (max-width:560px){
   
    .rocketsDetails .modal-footer .btn{
        font-size: 1rem;
        padding: .3rem .7rem;
    }
    .rocketsDetails .modal-footer h3{
        font-size: .8rem;
        padding-top: .5rem;
       width: 100%;
       font-weight: 100;
    }
    .rocketsDetails .modal-footer .row .col-sm-4 h4{
        font-size: 1rem; 
    }
    .rocketsDetails .modal-footer .row .col-sm-4{
        width: 23%;
        margin: .8rem;
    }
    .rocketsDetails .modal-footer .row .col-sm-4 p{
        color: gray;
        padding-top: .6rem;
        
    }
    .rocketsDetails .carousel-item-padding-40-px {
        height: 80vh;
        width: 100vw;
        
      }
      .rocketsDetails .carousel-item-padding-40-px img{
          height: 100%;
          width: 100%;
      }
}
@media only screen and (max-width:318px){
   
    
    .rocketsDetails .modal-footer .btn{
      
        font-size: 1rem;
        padding: .3rem .7rem;
        
        
    }
    .rocketsDetails .modal-footer h3{
        font-size: .8rem;
        padding-top: .5rem;
       width: 100%;
       font-weight: 100;
        
    }
    .rocketsDetails .modal-footer .row .col-sm-4 h4{
        font-size: 1rem;
       
        
    }
    .rocketsDetails .modal-footer .row .col-sm-4{
        width: 23%;
        margin: .8rem;
    }
    .rocketsDetails .modal-footer .row .col-sm-4 p{
        color: gray;
        padding-top: .6rem;
        
    }
    .rocketsDetails .carousel-item-padding-40-px {
        height: 80vh;
        width: 100vw;
        
      }
      .rocketsDetails .carousel-item-padding-40-px img{
          height: 100%;
          width: 100%;
      }
      .rocketsDetails button {
        margin:1rem 0rem;
      }
      .rocketsDetails .modal-footer .row{
       
        padding-left: 1rem;
    }
}